@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  --primary-color:#501e53;
  --secondary-color: #d21873;
  --accent-color: #fcb326;
  --off-color: #1e2053;

  --success:#4BB543;
  --error: red;

  --web-width: 100%;
  max-width: var(--web-width);
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

