.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url('/images/landingback.png');
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #d21873;
  overflow: hidden;
}
